@import "tailwindcss";

/* scrollbar.css */


/* Hide vertical scrollbar across browsers */

#scroll-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}


/* Chrome, Edge, Safari */

#scroll-container::-webkit-scrollbar {
    display: none;
}


/* Fade-in animation used by slides/text */

.fade-in {
    animation: fadeIn 1.2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}